# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# CDK Context & Staging files
cdk.context.json
.cdk.staging/
cdk.out/

# saved models
models/

# Jupyter Notebook
.ipynb_checkpoints

# Python-venv
venv/
*.venv
env/

# PyCharm
.idea/
*.iml

# VSCode
.vscode/
